{% block _config_sendgridcallback_config_widget %}
    <h4 class="fw-sb mt-48 mb-xs">{{ 'sendgrid_callback.config.title'|trans }}</h4>
    <p class="text-muted mb-md">{{ 'sendgrid_callback.config.subtitle'|trans }}</p>
    <div class="row">
        <div class="panel panel-default mb-md">
            <div class="panel-body">
                <div class="row">
                    {% for f in form.children %}
                        <div class="col-xs-12">
                            {{ form_row(f) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
